NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD3wr2rD3sNXGuRBPd7R5eJ0PubZbwTe3A
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=tdtt-lab2.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=tdtt-lab2
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=tdtt-lab2.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=831592298559
NEXT_PUBLIC_FIREBASE_APP_ID=1:831592298559:web:44b33eed85e5473cd6208a
